body {
    background-image: url(https://depositphotos-blog.s3.eu-west-1.amazonaws.com/uploads/2017/07/Soothing-nature-backgrounds-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.p {
    background-color: rgba(123, 1, 105, 0.612);
    color: rgb(243, 0, 0);

    background: rgb(1, 0, 15);
    background: linear-gradient(90deg, rgba(1, 0, 15, 1) 0%, rgba(129, 0, 130, 1) 35%, rgba(0, 164, 255, 1) 100%);

}

.p2 {
    background-color: rgba(123, 1, 105, 0.612);
    color: rgb(243, 0, 0);

    background: rgb(1, 0, 15);
    background: linear-gradient(90deg, rgba(1, 0, 15, 1) 0%, rgba(129, 0, 130, 1) 35%, rgba(255, 0, 198, 1) 100%);


}

.ul {
    background-color: green;
    color: black;

    background: rgb(1, 0, 15);
    background: linear-gradient(90deg, rgba(1, 0, 15, 1) 0%, rgba(0, 130, 78, 1) 35%, rgba(162, 0, 255, 1) 100%);
}

.background {
    background-color: red;
    color: black;

    background: rgb(162, 0, 255);
    background: linear-gradient(90deg, rgba(162, 0, 255, 1) 0%, rgba(130, 0, 0, 1) 39%, rgba(1, 0, 15, 1) 100%);
}
#li{
    color: rgb(0, 234, 8);
}
#li-2{
    color: blue;
}